{% extends "feed/base.html" %}
{% block content %}
<style type="text/css">
	textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input,select{
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>
<div class="container my-4">
	<div class="card">
		<div class="card-body text-center">
			<h3>Password Reset</h3>
		</div>
	</div>
	<div class="card" style="background-color: lightgrey;">
		<div class="card-body" style="padding-left: 5%;padding-right: 5%;">
{% if validlink %}  
	<form method="POST" >    
		{% csrf_token %}     
		{{form.as_p}}
		<button type="submit" class="btn btn-primary">save</button>
		</form>
{% else %}
	<p style="color:red;">Invalid Token</p>
	<p>
		<a href="{% url 'password_reset'%}"> request a new reset password</a>
	</p>
	{% endif %}
</div>
</div>
</div>
</div>
{% endblock content %}

