{% extends "feed/base.html" %}
{% block content %}
<style type="text/css">
	input{
		width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  box-sizing: border-box;
	}
</style>
<div class="container">
<div class="card">
	<div class="card-header text-center">
		<h2 class="pl-5">Reset password</h2>
	</div >
	<div class="card-body">   
	<form method="POST">    
		{% csrf_token %}     
		{{ form.as_p }}		
	<button type="submit" class="btn " style="background-color: #009999;color:white;">reset</button>
	</form>
</div>
	</div>
</div>
{% endblock content %}
